html, body {
  color: white;
  background-color: #21232A;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  padding: 35px;
}

button {
  padding: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
  background-color: white;
}